<% include ../partials/header %>
  <div class="row">
    <div class="col-md-3">
      <p>Yelp Camp</p>
      <ul class="list-group">
        <li class="list-group-item">
          Info 1
        </li>
        <li class="list-group-item">
          Info 2
        </li>
        <li class="list-group-item">
          Info 3
        </li>
      </ul>
    </div>
    <figure class="figure col-md-9">
      <img src="<%= campground.image %>" class="img-fluid figure-img camp-image">
      <div class="camp-info">
        <div class="row justify-content-between align-items-center">
          <h3 class="col-4"><%= campground.name %></h3>
          <h6 class="col-4 text-right">$9.99/night</h6>
        </div>
        <div class="row">
          <p class="figure-caption camp-desc"><em>Submitted by <%= campground.author.username %></em></p>
          <p class="figure-caption camp-desc"><%= campground.description %></p>
        </div>
      </div>
    </figure>
  </div>


  <div class="row justify-content-end">
  </div>
  <div class="row justify-content-end">
    <div class="col-md-9">
      <div class="text-right">
        <a href="/campgrounds/<%= campground.id %>/comments/new" class="btn btn-primary comment-button">Add a comment</a>
      </div>
      <hr />
        <% campground.comments.forEach((comment) => { %>
          <div>
            <div class="row justify-content-between align-items-center">
              <h6 class="col-4"><%= comment.author.username %></h6>
              <h6 class="col-4 text-right">20 days ago</h6>
            </div>
            <div class="row">
              <p class="comment-body"><%= comment.text %></p>
            </div>
          </div>
          <hr />
        <% }) %>
    </div>

  </div>
<% include ../partials/footer %>