<% include ../partials/header %>
  <h2 class="text-center"><%= campground.name %></h2>
  <figure class="figure">
    <img src="<%= campground.image %>" class="img-fluid figure-img">
    <h4 class="figure-caption"><%= campground.description %></h4>
  </figure>
  <a href="/campgrounds/<%= campground.id %>/comments/new" class="btn btn-primary">Add a comment</a>
  <ul class="list-group">
    <% campground.comments.forEach((comment) => { %>
      <li class="list-group-item">
        <strong><%= comment.author %></strong> - <%= comment.text %>
      </li>
    <% }) %>
  </ul>
<% include ../partials/footer %>